/*====================================================
                DEFAULT VALUES:

                Font Family                 : Roboto Condensed
                
                Greenish Blue               : #e64a19       (Buttons, Icons, Links, Lines & Backgrounds)
                Steel Gray                  : #41464b       (Headings)
                Blue Bayoux                 : #64707b       (Paragraphs)
                White                       : #fff          (Text With Black Backgrounds)
                Black                       : #000 

======================================================*/

/* General CSS */

html,
body {
    height: 100%;
}

body {
    font-family: "Roboto Condensed", sans-serif;
    overflow-x: hidden;
}

p {
    color: #64707b;
    font-size: 16px;
    font-weight: 300;
}

h3 {
    color: #41464b;
    text-transform: uppercase;
}

/*====================================================
                        HOME
======================================================*/

#home {
    height: 100%;
}

#home-cover {
    height: 100%;
    background-image: linear-gradient(
            to right,
            rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.8)
        ),
        url("../img/bg-home.jpg");
}

#home-content-box {
    width: 100%;
    height: 100%;
    display: table;
}

#home-content-box-inner {
    display: table-cell;
    vertical-align: middle;
    /* text-align: center; */
}

#home-heading h3 {
    color: #fff;
    font-size: 55px;
    font-weight: 700;
    margin: 20px 0 20px 0;
}

#home-heading-tamil h3 {
    color: #fff;
    font-size: 35px;
    font-weight: 700;
    margin: 20px 0 20px 0;
}

/*====================================================
                        MOVIE
======================================================*/

.movie-btn,
.movie-btn:link,
.movie-btn:visited {
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all 0.2s;
    position: relative;
    font-size: 1.6rem;
    border: none;
    cursor: pointer;
}

.movie-btn:hover {
    -webkit-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    -o-transform: translateY(-3px);
    transform: translateY(-3px);
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.movie-btn:hover::after {
    -webkit-transform: scaleX(1.4) scaleY(1.6);
    -ms-transform: scaleX(1.4) scaleY(1.6);
    -o-transform: scaleX(1.4) scaleY(1.6);
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.movie-btn:active,
.movie-btn:focus {
    outline: none;
    -webkit-transform: translateY(-1px);
    -ms-transform: translateY(-1px);
    -o-transform: translateY(-1px);
    transform: translateY(-1px);
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.movie-btn--white {
    color: #777;
    background-color: #fff;
}
.movie-btn--white::after {
    background-color: #fff;
}

.movie-btn--green {
    color: #fff;
    background-color: #e64a19;
}
.movie-btn--green::after {
    color: #fff;
    background-color: #e64a19;
}

.movie-btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
}

.movie-btn--animated {
    animation: moveInBottom 0.5s ease-out 0.75s;
    animation-fill-mode: backwards;
}

.movie-btn-text:link,
.movie-btn-text:visited {
    font-size: 1.6rem;
    color: #55c57a;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid #55c57a;
    padding: 7px;
    transition: all 0.2s;
}

.movie-btn-text:hover {
    background-color: #55c57a;
    color: #fff;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
}

.movie-btn-text:active {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    transform: translateY(0);
}

/* btn ends here*/
.card {
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 52rem;
}
.card__side {
    height: 52rem;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    overflow: hidden;
}
.card__side--front {
    background-color: #fff;
}
.card__side--back {
    transform: rotateY(180deg);
}
.card__side--back-1 {
    background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
}
.card__side--back-2 {
    background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
}
.card__side--back-3 {
    background-image: linear-gradient(to right bottom, #2998ff, #5643fa);
}
.card:hover .card__side--front {
    transform: rotateY(-180deg);
}
.card:hover .card__side--back {
    transform: rotateY(0);
}
.card__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: color;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-position: top;
}
.card__picture--1 {
    background-image: linear-gradient(
            to right bottom,
            rgba(255, 185, 0, 0.4),
            rgba(255, 119, 48, 0.4)
        ),
        url(../img/van.jpg);
}
.card__picture--2 {
    background-image: linear-gradient(to right bottom, #7ed56f, #28b485),
        url(../img/nat-6.jpg);
}
.card__picture--3 {
    background-image: linear-gradient(to right bottom, #2998ff, #5643fa),
        url(../img/nat-7.jpg);
}
.card__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    text-align: right;
    top: 17rem;
    right: 1.5rem;
    width: 75%;
}
.card__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}
.card__heading-span--1 {
    background-image: linear-gradient(
        to right bottom,
        rgba(255, 185, 0, 0.85),
        rgba(255, 119, 48, 0.85)
    );
}
.card__heading-span--2 {
    background-image: linear-gradient(
        to right bottom,
        rgba(126, 213, 111, 0.85),
        rgba(40, 180, 133, 0.85)
    );
}
.card__heading-span--3 {
    background-image: linear-gradient(
        to right bottom,
        rgba(41, 152, 255, 0.85),
        rgba(86, 67, 250, 0.85)
    );
}
.card__details {
    padding: 3rem;
}
.card__details ul {
    list-style: none;
    width: 80%;
    margin: 0 auto;
}
.card__details ul li {
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem;
}
.card__details ul li:not(:last-child) {
    border-bottom: 1px solid #eee;
}
.card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center;
}
.card__price-box {
    text-align: center;
    color: #fff;
    margin-bottom: 8rem;
}
.card__price-only {
    font-size: 1.4rem;
    text-transform: uppercase;
}
.card__price-value {
    font-weight: 100;
    font-size: 6rem;
}
@media only screen and (max-width: 56.25em), only screen and (hover: none) {
    .card {
        height: auto;
        border-radius: 3px;
        background-color: #fff;
        box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    }
    .card__side {
        height: auto;
        position: relative;
        box-shadow: none;
    }
    .card__side--back {
        transform: rotateY(0);
        clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
    }
    .card:hover .card__side--front {
        transform: rotateY(0);
    }
    .card__details {
        padding: 1rem 3rem;
    }
    .card__cta {
        position: relative;
        top: 0%;
        left: 0;
        transform: translate(0);
        width: 100%;
        padding: 7rem 4rem 4rem 4rem;
    }
    .card__price-box {
        margin-bottom: 3rem;
    }
    .card__price-value {
        font-size: 4rem;
    }
}
/* card ends here */

.section-tours {
    background-color: #f7f7f7;
    padding: 25rem 0 15rem 0;
    margin-top: -10rem;
}
@media only screen and (max-width: 56.25em) {
    .section-tours {
        padding: 20rem 0 10rem 0;
    }
}

.u-center-text {
    text-align: center !important;
}

.u-margin-bottom-big {
    margin-bottom: 8rem !important;
}
@media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
        margin-bottom: 5rem !important;
    }
}

.heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right, #e96238, #e64a19);
    -webkit-background-clip: text;
    color: transparent;
    transition: all 0.2s;
    letter-spacing: 2px;
}
@media only screen and (max-width: 56.25em) {
    .heading-secondary {
        font-size: 3rem;
    }
}
@media only screen and (max-width: 37.5em) {
    .heading-secondary {
        font-size: 2.5rem;
    }
}
.heading-secondary:hover {
    letter-spacing: 4px;
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

.movie-row {
    max-width: 114rem;
    margin: 0 auto;
}
.movie-row:not(:last-child) {
    margin-bottom: 8rem;
}
@media only screen and (max-width: 56.25em) {
    .movie-row:not(:last-child) {
        margin-bottom: 6rem;
    }
}
@media only screen and (max-width: 56.25em) {
    .movie-row {
        max-width: 50rem;
        padding: 0 3rem;
    }
}
.movie-row::after {
    content: "";
    display: table;
    clear: both;
}
.movie-row [class^="col-"] {
    float: left;
}
.movie-row [class^="col-"]:not(:last-child) {
    margin-right: 6rem;
}
@media only screen and (max-width: 56.25em) {
    .movie-row [class^="col-"]:not(:last-child) {
        margin-right: 0;
        margin-bottom: 6rem;
    }
}
@media only screen and (max-width: 56.25em) {
    .movie-row [class^="col-"] {
        width: 100% !important;
    }
}
.movie-row .col-1-of-2 {
    width: calc((100% - 6rem) / 2);
}
.movie-row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3);
}
.movie-row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem);
}
.movie-row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4);
}
.movie-row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem);
}
.movie-row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem);
}
/*====================================================
                        PARALLAX (Generic)
======================================================*/

.bg-parallax {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/*====================================================
                        BUTTONS (Generic)
======================================================*/

.btn-general {
    border-width: 2px;
    border-radius: 0;
    padding: 12px 26px 12px 26px;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}

.btn-white {
    border-color: #fff;
    color: #fff;
}

.btn-white:hover,
.btn-white:focus {
    background-color: #fff;
    color: #41464b;
}

.btn-blue {
    border-color: #e64a19;
    color: #e64a19;
}

.btn-blue:hover,
.btn-blue:focus {
    background-color: #e64a19;
    color: #fff;
}

.btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 22px;
    padding: 3px 15px;
    border-radius: 0;
    display: none;
}

/*====================================================
                       ANIMATE
======================================================*/

#home-cover,
#home-heading,
#home-btn {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
}

#home-cover {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}

#home-heading {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

#home-btn {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

/*====================================================
                       CONTENT (Generic)
======================================================*/

.content-box {
    padding: 60px 0 60px 0;
}

.content-title h3 {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin: 0 0 30px 0;
}

.content-title-white h3 {
    color: #fff;
}

.content-title-underline {
    width: 30px;
    height: 3px;
    background-color: #e64a19;
    margin: 0 auto 30px auto;
}

/*====================================================
                       SERVICES
======================================================*/

.service-item {
    padding: 20px 0 20px 0;
    margin-bottom: 20px;
    cursor: pointer;
}

.service-item-icon i {
    color: #e64a19;
    float: left;
    padding: 15px;
    margin-right: 25px;
    width: 75px;
    height: 75px;
    text-align: center;
}

.service-item:hover .service-item-icon i {
    color: #fff;
    background-color: #e64a19;
}

.service-item-title h3 {
    font-size: 20px;
    font-weight: 400;
    margin: 0 0 10px 0;
}

.service-item-desc p {
    margin: 0;
    padding-left: 85px;
}

/*====================================================
                       ABOUT
======================================================*/

#about-bg-diagonal {
    width: 60%;
    height: 700px;
    float: left;
    background-image: linear-gradient(
            to right,
            rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.8)
        ),
        url(../img/bg-about-1.jpg);
    background-size: cover;
    background-position: top;
    /*border-left: 200px solid #fff;*/
    border-top: 700px solid transparent;
    clip-path: polygon(0 0, 100% 0, 70% 100%, 0 100%);
}

#about-content-box {
    float: left;
    height: 700px;
}

#about-content-box-outer {
    width: 100%;
    height: 100%;
    display: table;
}

#about-content-box-inner {
    display: table-cell;
    vertical-align: middle;
}

#about .content-title h3 {
    text-align: left;
}

#about .content-title-underline {
    margin: 0 0 30px 0;
}

#about-desc p {
    margin-bottom: 30px;
}

/*====================================================
                       WORK
======================================================*/

.row.no-gutters [class*="col-"] {
    padding-left: 0;
    padding-right: 0;
    background-color: #000;
    overflow-x: hidden;
}

.img-wrapper {
    overflow: hidden;
}

.img-wrapper img {
    transition: transform 0.5 ease;
    width: 100%;
    height: 100%;
    transition: all 0.5s;
    opacity: 0.5;
    transform: scale(1.03);
}

.img-wrapper img:hover {
    transform: scale(1.1);
    cursor: zoom-in;
    opacity: 1;
    transition: all 0.5s;
}

/*====================================================
                       TEAM
======================================================*/

.team-member {
    margin: 0 15px;
}

.team-member-info {
    padding: 10px 0 30px 0;
}

h4.team-member-name {
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 1px;
    padding-top: 2px;
}

h4.team-member-designation {
    color: #e64a19;
    font-size: 15px;
    font-weight: 700;
    font-style: italic;
    letter-spacing: 1px;
    margin-top: 5px;
}

/*====================================================
                       SOCIAL
======================================================*/

.social-list {
    padding-left: 0;
}

.social-list li {
    list-style: none;
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 6px;
    margin-top: 10px;
}

.social-icon i {
    font-size: 17px;
}

.icon-gray i {
    color: #64707b;
}

.icon-white i {
    color: #fff;
}

.social-icon i:hover {
    color: #e64a19;
}

/*====================================================
                    TESTIMONIALS
======================================================*/

#testimonials-cover {
    background-image: url("../img/bg-testimonials.jpg");
}

#testimonials-title-tamil {
    font-size: 25px;
}

#testimonials .content-box {
    background-color: rgba(0, 0, 0, 0.1);
}

#customers-testimonials {
    padding: 50px 0;
}

.testimonial img {
    max-width: 120px;
    margin: 0 auto;
}

.testimonial blockquote {
    border: 0;
    font-family: Georgia, sans-serif;
    font-style: italic;
    .color: #fff;
    padding: 6px 150px;
    position: relative;
}

.testimonial blockquote p {
    color: #fff;
}

.testimonial blockquote::before,
.testimonial blockquote::after {
    font-size: 80px;
    font-style: normal;
    line-height: 1;
    width: 30px;
    height: 30px;
    color: #fff;
    position: absolute;
}

.testimonial blockquote::before {
    content: "\201C";
    top: 0;
    left: 100px;
}

.testimonial blockquote::after {
    content: "\201D";
    bottom: 0;
    right: 100px;
}

.testimonial-author p {
    color: #fff;
    font-size: 17px;
}

.testimonial-author p strong {
    display: block;
}

/*====================================================
                       PRICING
======================================================*/

#pricing-title-tamil {
    font-size: 25px;
}

.pricing-box {
    border: 3px solid #e64a19;
    padding: 50px 0;
    margin: 40px 0;
}

h4.pricing-title {
    background-color: #e64a19;
    color: #fff;
    display: inline-block;
    padding: 7px 15px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 30px 0;
}

h3.pricing-value {
    font-size: 60px;
    font-weight: 700;
}

h3.pricing-value-tamil {
    font-size: 40px;
    font-weight: 700;
}

h3.pricing-value sup {
    font-size: 28px;
    font-weight: normal;
    vertical-align: super;
}

ul.pricing-spec {
    list-style: none;
    padding-left: 0;
    margin: 20px 0 60px 0;
}

ul.pricing-spec li p {
    font-weight: 400;
    text-transform: uppercase;
}

.pricing-box-lg {
    padding: 90px 0;
    margin: 0;
    background-color: #e64a19;
}

.pricing-box-lg h4.pricing-title {
    color: #e64a19;
    background-color: #fff;
}

.pricing-box-lg ul.pricing-spec li p {
    color: #fff;
}

/*====================================================
                       STATS
======================================================*/

#stats-cover {
    background-image: url("../img/bg-stats.jpg");
}

#stats .content-box {
    background-color: rgba(0, 0, 0, 0.8);
}

.stats-item {
    padding: 100px 0;
}

.stats-item i {
    color: #e64a19;
}

.stats-item h2 {
    color: #fff;
    font-size: 35px;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 1px;
}

.stats-item p {
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    margin-top: 0;
}

/*====================================================
                       CLIENTS
======================================================*/

.client {
    padding: 0;
    margin: 0 20px;
}

/*====================================================
                       CONTACTS
======================================================*/

footer {
    background-color: #41464b;
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 5px solid rgba(0, 0, 0, 0.1);
}

#contact-left h3,
#contact-right h3 {
    color: #fff;
    font-size: 27px;
    font-weight: 700;
}

#contact-left p {
    color: #fff;
    margin-bottom: 30px;
}

#contact-info {
    background-image: url("../img/world-map.png");
    background-repeat: no-repeat;
    background-size: contain;
}

address {
    color: #fff;
}

address strong,
#phone-fax-email strong {
    letter-spacing: 1px;
}

form .form-control {
    background: transparent;
    border-radius: 0;
    border-color: #fff;
    font-size: 17px;
    font-weight: 300;
    padding: 8px 16px;
    margin-bottom: 20px;
    color: #fff;
    resize: none;
}

/*====================================================
                       FOOTER
======================================================*/

#footer-bottom {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 30px 0;
    margin-top: 60px;
}

#footer-copyrights p {
    margin: 0;
    color: #fff;
}

#footer-copyrights-tamil p {
    margin: 0;
    color: #fff;
    font-size: 12px;
}

#footer-menu {
    float: left;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
}

#footer-menu ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

#footer-menu ul li {
    display: inline-block;
}

#footer-menu a {
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    margin: 0 10px;
    text-decoration: none;
}

#footer-menu a:hover {
    color: #e64a19;
}

/*====================================================
                       NAVIGATION
======================================================*/

.navbar {
    padding: 20px 0;
    transition: all 0.5s ease-in-out;
}

.vesco-top-nav {
    background: rgba(0, 0, 0, 0.7);
    padding: 7px 0;
}

.vesco-nav-wrapper {
    padding: 0 85px;
}

.navbar-nav {
    float: right;
}

.navbar-nav > li > a {
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
}

.nav-tamil > li > a {
    font-size: 10px;
}

.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus {
    background: none;
    color: #e64a19;
}

.navbar-toggle {
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid #fff;
    border-radius: 0;
}

.navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-collapse {
    max-height: none !important;
}

.vesco-top-nav ul.navbar-nav > li.active > a {
    color: #e64a19;
}
